:root {
  --main-bg-color: #2f2f2f;

  --modal-bg-color: #1f1f1f;
  --modal-header-color: #1b1b1b;
  --modal-footer-color: #1b1b1b;

  --drop-down-menu-bg: #262626;
    
  --text:#a8a8a8;
  --text-hover: #fff;
  --text-muted: #999;

  /*Specials*/
  --arr-queue-color: #2cabe3; /* Servarr apps + Bazarr*/
  --plex-poster-unwatched: #2cabe3;
  --petio-spinner: invert(65%) sepia(83%) saturate(2026%) hue-rotate(167deg) brightness(90%) contrast(97%);/* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 44, 171, 227;
}
